# Redmine REST API parameters
redmine_url = "https://bla.bla"
redmine_api_key = '5417fedcf776abde3bda2b10b1fa7f43c4db178ddf'

# MySQL connection parameters
ssh_host = 'bla.bla'
ssh_port = 22
ssh_password = "p@ssw0rd"
ssh_username = "user"
mysql_username = 'user'
mysql_password = 'parole'
mysql_dbname = 'redmine_db'

# set of ids of "non-blocking" issue statuses
non_blocking_statuses = {5,6,7,9,15,18}

print "Settings imported"