# Redmine REST API parameters
redmine_url = "https://bla.bla"
redmine_api_key = '5417fedcf776abde3bda2b10b1fa7f43c4db178ddf'

# MySQL connection parameters
ssh_host = 'bla.bla'
ssh_port = 22
ssh_password = "p@ssw0rd"
ssh_username = "user"
mysql_username = 'user'
mysql_password = 'parole'
mysql_dbname = 'redmine_db'

statuses = {
 'solved': 3,
 'closed': 5,
 'rejected': 6, 
 'production_accepted': 7,
 'sandbox_accepted': 9,
 'production_deployed': 15,
 'deployment_approved': 18
}
 
statuses_closed = { statuses['rejected'], statuses['closed'], statuses['production_accepted'] }
statuses_deployed = { statuses['production_deployed'] }
statuses_ready_for_deploy = {  statuses['sandbox_accepted'], statuses['deployment_approved'] } 

non_blocking_statuses_for_blockers = statuses_closed | statuses_deployed
non_blocking_statuses_for_issues =  non_blocking_statuses_for_blockers | statuses_ready_for_deploy

allowed_statuses_for_testing = non_blocking_statuses_for_issues | {statuses['solved']}

responsible_for_project = {
  1: 2 # project id => user id
}

repo_storage = u'C:\\path\\to\\repos'
